<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakpoints</key>
	<dict>
		<key>AppleClasses/AppleSlider.js:67</key>
		<string>-_init</string>
		<key>GTP.js:106</key>
		<string>-startNewGame</string>
		<key>GTP.js:114</key>
		<string>-startNewGame</string>
		<key>GTP.js:129</key>
		<string>-handicapWasFixed</string>
		<key>GTP.js:130</key>
		<string>-handicapWasFixed</string>
		<key>GTP.js:150</key>
		<string>-checkCaptured</string>
		<key>GTP.js:154</key>
		<string>-analyseCaptured</string>
		<key>GTP.js:155</key>
		<string>-analyseCaptured</string>
		<key>GTP.js:160</key>
		<string>-</string>
		<key>GTP.js:163</key>
		<string>-move</string>
		<key>GTP.js:184</key>
		<string>-moveResult</string>
		<key>GTP.js:185</key>
		<string>-moveResult</string>
		<key>GTP.js:187</key>
		<string>-moveResult</string>
		<key>GTP.js:188</key>
		<string>-moveResult</string>
		<key>GTP.js:191</key>
		<string>-moveResult</string>
		<key>GTP.js:192</key>
		<string>-</string>
		<key>GTP.js:196</key>
		<string>-parseMove</string>
		<key>GTP.js:204</key>
		<string>-parseMove</string>
		<key>GTP.js:206</key>
		<string>-parseMove</string>
		<key>GTP.js:210</key>
		<string>-parseMove</string>
		<key>GTP.js:227</key>
		<string>-outputHandler</string>
		<key>GTP.js:24</key>
		<string>-Configuration</string>
		<key>GTP.js:266</key>
		<string>-</string>
		<key>GTP.js:34</key>
		<string>-Configuration</string>
		<key>GTP.js:71</key>
		<string>-Vertice</string>
		<key>GTP.js:81</key>
		<string>-</string>
		<key>GTP.js:94</key>
		<string>-initGnuGo</string>
		<key>GoWidget.js:103</key>
		<string>-showFront</string>
		<key>GoWidget.js:11</key>
		<string>-load</string>
		<key>GoWidget.js:143</key>
		<string>-placeStone</string>
		<key>GoWidget.js:153</key>
		<string>-placeStone</string>
		<key>GoWidget.js:274</key>
		<string>-removeCapturedStones</string>
		<key>GoWidget.js:288</key>
		<string>-think</string>
		<key>GoWidget.js:31</key>
		<string>-loadPreferences</string>
		<key>GoWidget.js:375</key>
		<string>-displayCenterMessage</string>
		<key>GoWidget.js:381</key>
		<string>-displayCenterMessage</string>
		<key>GoWidget.js:390</key>
		<string>-displayCenterMessage</string>
		<key>GoWidget.js:429</key>
		<string>-contact</string>
		<key>GoWidget.js:435</key>
		<string>-handicapChanged</string>
		<key>GoWidget.js:436</key>
		<string>-handicapChanged</string>
		<key>GoWidget.js:445</key>
		<string>-</string>
		<key>GoWidget.js:464</key>
		<string>-onchange</string>
		<key>GoWidget.js:471</key>
		<string>-onchange</string>
		<key>GoWidget.js:484</key>
		<string>-setLabel</string>
		<key>GoWidget.js:488</key>
		<string>-setLabel</string>
		<key>GoWidget.js:65</key>
		<string>-showBack</string>
		<key>GoWidget.js:78</key>
		<string>-showBack</string>
		<key>GoWidget.js:93</key>
		<string>-showFront</string>
	</dict>
	<key>BreakpointsFrame</key>
	<string>164 477 404 338 0 0 1280 832 </string>
	<key>ContentSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>10</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>20</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>20</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {1032, 153}}</string>
			<string>{{0, 163}, {1032, 504}}</string>
		</array>
	</dict>
	<key>ContentViewType</key>
	<integer>0</integer>
	<key>Dashboard Widget Prefs</key>
	<dict>
		<key>id</key>
		<string>41a8701299352546</string>
		<key>in-layer</key>
		<true/>
		<key>path</key>
		<string>/private/tmp/Dashcode/.GoWidget.wdgtprojB1tr7Y/GoWidget.wdgtproj/project.wdgt/</string>
		<key>percent-offset-x</key>
		<integer>0</integer>
		<key>percent-offset-y</key>
		<integer>0</integer>
		<key>percent-type</key>
		<integer>2</integer>
		<key>percent-x</key>
		<real>0.34765625</real>
		<key>percent-y</key>
		<real>0.13817329704761505</real>
		<key>pos-x</key>
		<integer>513</integer>
		<key>pos-y</key>
		<integer>118</integer>
	</dict>
	<key>EvaluatorFrame</key>
	<string>118 329 480 424 0 0 1280 832 </string>
	<key>MainSplitViewGeometry</key>
	<dict>
		<key>_collapsingFrameDimension</key>
		<real>15</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>15</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {243, 688}}</string>
			<string>{{244, 0}, {1033, 688}}</string>
		</array>
	</dict>
	<key>MainWindowFrame</key>
	<string>2 122 1276 709 0 0 1280 832 </string>
	<key>NavigatorSplitViewGeometry</key>
	<dict>
		<key>ContentSplitViewConfig</key>
		<integer>5</integer>
		<key>SplitViewConfig</key>
		<integer>3</integer>
		<key>_collapsingFrameDimension</key>
		<real>15</real>
		<key>_indexOfCollapsedView</key>
		<integer>0</integer>
		<key>_percentageOfCollapsedView</key>
		<real>15</real>
		<key>sizes</key>
		<array>
			<string>{{0, 0}, {245, 341}}</string>
			<string>{{0, 351}, {245, 316}}</string>
		</array>
	</dict>
	<key>Objects view expanded items</key>
	<array>
		<array>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>10</integer>
		</array>
	</array>
	<key>Objects view last selections</key>
	<array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>10</integer>
			<integer>1</integer>
		</array>
	</array>
	<key>Opened Steps</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
